
.td-type1{
    background-color: yellow;
}

.td-type2{
    background-color: greenyellow;
}

.td-type0{
    background-color: palevioletred;
}

#online {
    background-color: aquamarine;
}

#offline {
    background-color: ghostwhite;
}